body{
font-family: 'Roboto', sans-serif;
}

#remove-data {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#reponse{
	align-self: center;
	display:flex;
	visibility: hidden;
}

.general{
	display: flex;
	width: 98.5%;
    
    flex-direction: row;
    
    height: 100%;
	align-content:center;
    position: absolute;}

.text{
	background: #696969;
   flex: 1;
   flex-direction: column;
   position: relative;
   height: 100%;
   align-content:center;
   margin-right:15px;
}

.titretheme{
	display:flex;
		background: #696969;
    	flex: 1;
    	height: 25%;
    	flex-direction: column;
    	/* position: absolute; */
		text-align: center;
		align-items:center;
			
}

.texttitretheme{
	display:flex;
	flex: 1;
	height: 1%;

	align-self:center;
	font-size: 200%;
	color: #F8F8FF;
}

#pText{
visibility: hidden;
}

.commentaire{
	background: #696969;
    align-self: center;
		text-align: center;
	vertical-align: middle;
    height: 50%;
    color: #F8F8FF;}

.boutons{
	background: #696969; 
    align-self: center;
		text-align: center;
	vertical-align: middle;
    height: 25%;
    color: white;
}


.graph {
    flex: 2;
    align-self:center;
    margin-left:5px;}

.flaticon{
	font-size: 10%;
	position: absolute;
	bottom: 1px;
	
}
