body {
    margin: 0;
}
.jarallax {
    width: 100%;
    height: 99vh;
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#story-0{
    text-align: center;
}

#story-0 > h1{
    position:absolute;
    top:50%;
    left: 50%;
    /* height:10em;
    margin-top:-5em */
}
