body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
.jarallax {
    width: 100%;
    height: 99vh;
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.intertitle > h1{
    position:absolute;
    top:50%;
    left: 50%;
    background-color: white;
}

.left-container {
    top:50%;
    float: left;
    width: 70%;
}
.right-container {
    /* background-color: #b6701e; */
    float: left;
    width: 30%;
}
.text {
    width: 100%;
    padding: 10px;

    position: sticky;
    top:10px;
}




/* Gender story */

#gender-remove-data {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#gender-reponse{
    align-self: center;
	visibility: hidden;
}

.gender-general{
	display: flex;
	width: 98.5%;

    flex-direction: row;

    height: 100%;
	align-content:center;
    position: absolute;
}

.gender-text{
	background: #696969;
   flex: 1;
   flex-direction: column;
   position: relative;
   height: 100%;
   align-content:center;
   margin-right:15px;
}

.gender-titretheme{
	display:flex;
	background: #696969;
	flex: 1;
	height: 25%;
	flex-direction: column;
	/* position: absolute; */
	text-align: center;
	align-items:center;

}

.gender-texttitretheme{
	display:flex;
	flex: 1;
	height: 1%;

	align-self:center;
	font-size: 200%;
	color: #F8F8FF;
}

#pText{
	text-align: center;
	align-self: center;
}

.gender-commentaire{
    display:flex;
	flex-direction: column;
	background: #696969;
    align-self: center;
	text-align: center;
	vertical-align: middle;
    height: 50%;
    color: #F8F8FF;
}

.gender-boutons{
	background: #696969;
    align-self: center;
	text-align: center;
	vertical-align: middle;
    height: 25%;
    color: white;
}

.gender-graph {
    flex: 2;
    align-self:center;
    margin-left:5px;
}

.gender-flaticon{
	font-size: 10%;
	position: absolute;
	bottom: 1px;

}

.gender-img{
	align-self:center;
}

#bleu{
	color:#F0F8FF;
}
